<nav class="bg-light sidebar">   <!--# sidebar nic nedela-->
    <div class="sidebar-sticky"> <!--# tento div nic nedela-->
        <ul class="nav d-flex flex-column"> <!--# TOOD -->
            {#            <li class="nav-item">#}
            {##}
            {#                <button type="button" class="btn btn-primary" id="styleChanger">Style</button>#}
            {#            </li>#}


            <li class="nav-item">

                <h5>Tags</h5>
                <ul class="tags">
                    {%- for tag, articles in (tags) %}
                        <li style="font-size: {{ articles|count|count_to_font_size }};">
                            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item">

                <h5>Categories</h5>
                <ul>
                    {% for category in categories %}
                        <li class="nav-item">
                            <a class="" href="{{ SITEURL }}/{{ category[0].url }}" id="{{ category[0].name }}Id"
                            >{{ category[0].name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item">

                <h5>Get notified</h5>
                <ul>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" target="_blank">
                            <i class="fas fa-rss-square"></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        {#            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>#}
        {#    </div>#}


        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="Categories-tab" data-toggle="tab" href="#Categories" role="tab"
                   aria-controls="Categories"
                   aria-selected="true">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Tags-tab" data-toggle="tab" href="#Tags" role="tab"
                   aria-controls="Tags" aria-selected="false">Tags</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="Categories" role="tabpanel" aria-labelledby="Categories-tab">
                <ul class="">
                    {% for category in categories %}

                        <li class="nav-item">
                            <a class="" href="{{ SITEURL }}/{{ category[0].url }}" id="{{ category[0].name }}Id"
                            >{{ category[0].name }}</a>
                        </li>
                    {% endfor %}
{#                    {%- for tag, articles in (tags) %}#}
{#                        <li style="font-size: {{ articles|count|count_to_font_size }};">#}
{#                            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>#}
{#                        </li>#}
{#                    {% endfor %}#}
                </ul>
            </div>
            <div class="tab-pane fade left" id="Tags" role="tabpanel" aria-labelledby="Tags-tab">
                <ul class="">

                    {%- for tag, articles in (tags) %}
                        <li style="font-size: {{ articles|count|count_to_font_size }};">
                            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                        </li>
                    {% endfor %}
{#                    {% for category in categories %}#}
{##}
{#                        <li class="nav-item">#}
{#                            <a class="" href="{{ SITEURL }}/{{ category[0].url }}" id="{{ category[0].name }}Id"#}
{#                            >{{ category[0].name }}</a>#}
{#                        </li>#}
{#                    {% endfor %}#}
                </ul>
            </div>
        </div>
    </div>
</nav>