
{% include "includes/meta.html" %}
{#borrowed from Flex#}
{% if OG_LOCALE %}
    {% set default_locale = OG_LOCALE %}
{% else %}
    {% set default_locale = 'en_US' %}
{% endif %}
<meta property="og:site_name" content="{{ SITENAME }}"/>
<meta property="og:title" content="{{ article.title|striptags|escape }}"/>
<meta property="og:description" content="{{ article.summary|striptags|escape }}"/>
<meta property="og:locale" content="{{ article.metadata.get('og_locale', default_locale) }}"/>
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
<meta property="og:type" content="article"/>
<meta property="article:published_time" content="{{ article.date }}"/>
<meta property="article:modified_time" content="{{ article.modified }}"/>
<meta property="article:author" content="{{ article.author.name }}">
<meta property="article:section" content="{{ article.category.name }}"/>
{% for tag in article.tags %}
    <meta property="article:tag" content="{{ tag.name|escape }}"/>
{% endfor %}
{% if 'cover' in article.metadata %}
    <meta property="og:image" content="{{ SITEURL }}/{{ article.metadata['cover'] }}">
{% else %}
    <meta property="og:image" content="{{ SITELOGO }}">
{% endif %}

{% if TWITTER_USER_NAME %}
    {#Twitter Cards:#}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ article.title|striptags|escape }}">
    <meta name="twitter:description" content="{{ article.summary|striptags|escape }}">
    {% if 'cover' in article.metadata %}
        <meta name="twitter:image" content="{{ SITEURL }}/{{ article.metadata['cover'] }}">
    {% else %}
        <meta name="twitter:image" content="{{ SITELOGO }}">
    {% endif %}
    <meta name="twitter:site" content="@{{ TWITTER_USER_NAME }}">
    <meta name="twitter:creator" content="@{{ TWITTER_USER_NAME }}">
{% endif %}