<div>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#blogNavId"
                    aria-controls="blogNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" collapse navbar-collapse" id="blogNavId">
                <div class="d-flex w-100">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 flex-fill">
                        <li class="nav-item">
                            <a class="nav-link" title="Blog on {{ SITEURL }}" href="{{ SITEURL }}">Home<span class="sr-only">(current)</span></a>
                        </li>
                        {% for category in categories %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" title="Category {{ category[0].name }}" href="#" id="{{ category[0].name }}Id"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">{{ category[0].name }}</a>

                                <div class="dropdown-menu" aria-labelledby="{{ category[0].name }}Id">
                                    {% for article in category[1] %}
                                        <a class="dropdown-item"
                                           title="{{ article.title }}"
                                           href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endfor %}
                        {#                    <li class="nav-item">#}
                        {#                        <a class="nav-link" href="#">Link</a>#}
                        {#                    </li>#}

                    </ul>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITEURL }}/{{ TAGS_URL }}">Tags & Categories</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" target="_blank">
                                <i class="fas fa-rss-square"></i> RSS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr class="mt-0">
    </div>
</div>