<div class="row">

{% for article in dates %}
    <div class="col-md-6 d-flex flex-column blog-all-articles">

            <h4 class=""><a class="article-title" title="{{ article.title }}" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h4>
        {% if article.modified %}
            <p class="mb-0 small">Updated: {{ article.modified.strftime(article.date_format) }}</p>
        {% else %}
            <p class="mb-0 small">{{article.locale_date}}</p>
        {% endif %}
            <a class="article-summary" title="{{ article.title }}" href="{{ SITEURL }}/{{ article.url }}"><p class="flex-grow-1">{{ article.summary|striptags }}</p></a>
{#            <p class=""><a class="btn btn-secondary btn-sm" href="{{ SITEURL }}/{{ article.url }}" role="button">Read more &raquo;</a></p>#}
        </div>

{% endfor %}

{#{% for article in dates %}#}
{#    <div class="col-lg-4 col-md-6 d-flex flex-column blog-all-articles">#}
{##}
{#            <h4 class=""><a href="{{ article.url }}">{{ article.title }}</a></h4>#}
{#        {% if article.modified %}#}
{#            <p class="mb-0 small">Updated: {{ article.modified }} {{ article.locale_date }}</p>#}
{#        {% else %}#}
{#            <p class="mb-0 small">{{article.date}}</p>#}
{#        {% endif %}#}
{#         <a  class="flex-grow-1">   <p class="">{{ article.summary|striptags }}</p></a>#}
{#            <p class=""><a class="btn btn-secondary btn-sm" href="{{ article.url }}" role="button">Read more &raquo;</a></p>#}
{#        </div>#}
{##}
{#{% endfor %}#}
</div>