{# ------------------------------------------------------------------------ #}
{# Creative Commons license mark generator for Jinja2 templates, including  #}
{# Pelican-generated static sites (or blogs).                               #}
{# ------------------------------------------------------------------------ #}
{# To use, put this file in a location where your template can import it.   #}
{# Then import into the template, for example like this:                    #}
{# {% from '/path/to/where/you/placed/the/file' import cc_license_mark %}   #}
{# Then call as simply as {{ cc_license_mark("CC-BY") }}.                   #}
{#                                                                          #}
{# If full attribution markup is desired in a Pelican template, the         #}
{# attr_props dict can be defaulted to the following when calling the macro:#}
{# attr_props={'title':SITENAME,'name':AUTHOR,'url':SITEURL}                #}
{# ------------------------------------------------------------------------ #}
{# Generate a license mark for Creative Commons licensed content.           #}
{# Choose the license either by name (CC-BY, CC-BY-SA, CC-BY-NC-SA, or      #}
{# CC-BY-NC-ND), or by its features (allow derivatives: Yes, No, ShareAlike;#}
{# allow commercial reuse: Yes, No). Name, if provided, takes precedence,   #}
{# and case is ignored.                                                     #}
{#                                                                          #}
{# Optional:                                                                #}
{#   text_img: return license statement or images                           #}
{#   attr_markup: if true create markup for fulll attribution               #}
{#   attr_props: if attr_markup, a dict with title, name, and url keys      #}
{#               specifying how under which title, to which creator, and    #}
{#               to which URL to attribute the work                         #}
{# The parameters all mirror the Creative Commone license chooser:          #}
{# https://creativecommons.org/choose/                                      #}
{# ------------------------------------------------------------------------ #}
{# Copyright (c) 2014 Hilmar Lapp, hlapp@drycafe.net.                       #}
{# Licensed under the terms of the MIT License.                             #}
{# Source at http://github.com/hlapp/cc-tools. Please fork & contribute.    #}
{# ------------------------------------------------------------------------ #}
{# Modified by Jan Gazda http://github.com/1oglop1                          #}
{# ------------------------------------------------------------------------ #}
{% macro cc_license_mark(site_url,
                         cc_name,
                         derivatives, commercial,
                         text_img='img',
                         img_color='blue',
                         cc_nc_currency='us',
                         attr_markup=false,
                         attr_props={}) %}

    {% if not cc_nc_currency %}{% set cc_nc_currency='us' %}{% endif %}
    {% if cc_name %}
        {% set cc_name = cc_name|lower|replace("cc-","") %}
        {% set cc_title_suffix = cc_name|replace("by", "")|replace("-nc","-NonCommercial")|replace("-nd","-NoDerivatives")|replace("-sa","-ShareAlike") %}
    {% else %}
        {% set cc_name = "by" %}
        {% set cc_title_suffix = "" %}
        {% if (not commercial) or (commercial|lower == "no") %}
            {% set cc_name = cc_name ~ "-nc" %}
            {% set cc_title_suffix = "-NonCommercial" %}
            {% set cc_nc_currency = cc_nc_currency|lower %}
        {% endif %}
        {% if derivatives|lower == "no" %}
            {% set cc_name = cc_name ~ "-nd" %}
            {% set cc_title_suffix = cc_title_suffix ~ "-NoDerivatives" %}
        {% elif derivatives|lower == "sharealike" %}
            {% set cc_name = cc_name ~ "-sa" %}
            {% set cc_title_suffix = cc_title_suffix ~ "-ShareAlike" %}
        {% endif %}
    {% endif %}

    {% set cc_combos = ['by', 'by-sa', 'by-nc', 'by-nc-sa','by-nd', 'by-nc-nd'] %}
    {% if cc_name not in cc_combos %}
        {{ ("Wrong CC combination: "~cc_name~" must be one of "~cc_combos)|raise }}
    {% endif %}

    {% set cc_title, cc_uri, cc_icon = ("Creative Commons AttributionCCSUFFIX 4.0 International License","https://creativecommons.org/licenses/CCNAME/4.0/","//i.creativecommons.org/l/CCNAME/4.0/80x15.png") %}
    {% if text_img == 'text' %}
        {% if attr_markup %}
            &quot;<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{ attr_props['title'] }}</span>
            &quot;
            by
            <a xmlns:cc="http://creativecommons.org/ns#" href="{{ attr_props['url'] }}"
               property="cc:attributionName"
               rel="cc:attributionURL">{{ attr_props['name'] }}</a> is
        {% else %}
            {#    {{ _('Content') }}#} Content
        {% endif %}
        {#{{ _('licensed under a') }}#} licensed under a
        <a rel="license"
           href="{{ cc_uri|replace('CCNAME',cc_name) }}deed.{{ attr_props['lang'] }}">
            {{ cc_title|replace('CCSUFFIX',cc_title_suffix) }}</a>, except where indicated otherwise.

        {#{{ _('except where indicated otherwise') }}#}
    {% else %}
        <a rel="license" href="{{ cc_uri|replace('CCNAME',cc_name) }}deed.{{ attr_props['lang'] }}">

            {% for img in ("cc-"~cc_name).split('-') %}


                {% if img == 'nc' %}
                    <img class="license-img img-fluid"
                         src="{{ site_url }}/theme/images/cc/{{ img }}-{{ cc_nc_currency|lower }}-{{ img_color }}-x2.png"
                         alt="{{ img }}.png"/>
                {% else %}
                    <img class="license-img img-fluid"
                         src="{{ site_url }}/theme/images/cc/{{ img }}-{{ img_color }}-x2.png"
                         alt="{{ img }}.png"/>
                {% endif %}

            {% endfor %}

        </a>
    {% endif %}
{% endmacro %}