{%- if CC_LICENSE or CC_LICENSE_DERIVATIVES or CC_LICENSE_COMMERCIAL %}
    {% from 'includes/cc_license.html' import cc_license_mark %}
    {% set cc_text = cc_license_mark(text_img='text',site_url=SITEURL,cc_name=CC_LICENSE,derivatives=CC_LICENSE_DERIVATIVES,commercial=CC_LICENSE_COMMERCIAL,attr_markup=CC_ATTR_MARKUP,attr_props={'title':SITENAME,'name':article.author if article else AUTHOR,'url':SITEURL,'lang':DEFAULT_LANG}) %}
    {% set cc_img = cc_license_mark(site_url=SITEURL,cc_nc_currency=CC_NC_CURRENCY,cc_name=CC_LICENSE,derivatives=CC_LICENSE_DERIVATIVES,commercial=CC_LICENSE_COMMERCIAL,attr_markup=CC_ATTR_MARKUP,attr_props={'title':SITENAME,'name':article.author if article else AUTHOR,'url':SITEURL,'lang':DEFAULT_LANG}) %}
{% endif %}

<footer class="bg-dark text-white mt-5">
    <div class="container py-3">
        <div class="text-center small">
            <p>&copy; Johnny 2018</p>
            {% if CREDITS %}<p><a href="{{ SITEURL }}/{{ CREDITS.url }}">{{ CREDITS.text }}</a></p>{% endif %}
            {% if cc_img %}{{ cc_img }}{% endif %}
            {% if cc_text %}<p>{{ cc_text }}</p> {% endif %}
            {% if CUSTOM_LICENSE %}<p>{{ CUSTOM_LICENSE }}</p>{% endif %}
        </div>
    </div>
</footer>