<div>
    <div class="jumbotron text-center">
        <div class="container">
            <a class="site-jumbotron" title="Personal website of {{ AUTHOR }}" href="{{ SITEURL }}">
                <p class="display-3 h1">{{ SITENAME }}</p>
                {% if SITESUBTITLE %}
                    <p>{{ SITESUBTITLE }}</p>
                {% endif %}
            </a>
        </div>
    </div>
</div>