﻿//html {
//  font-size: 62.5%;
//}

//body {
//
//}
//
//.content {
//  flex: 1;
//}

//@media only screen and (max-width: 768px) {
//  main {
//    width: 100%;
//  }
//}

body {
  display: flex;
  //font-family: "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif /* font-family: Palatino, Cambria, Georgia, serif;;; */;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  font-weight: normal;

  // for sticky footer
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  // dropdown hover + click on mobile
  // more info https://stackoverflow.com/questions/8878033/how-to-make-twitter-bootstrap-menu-dropdown-on-hover-rather-than-click
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .navbar {
    color: white;

    .nav-link {
      color: white;
    }

    .active > .nav-link {
      color: #15aabf;
    }

    .social-right {
      .social-right-wrapper {
        ul {
          li {
            display: inline-block;
            list-style-type: none;

            a {
              color: white;
            }
          }
        }
      }
    }
  }

  .site-jumbotron {
    color: inherit;
    text-decoration: none;
  }
}

.license-img {
  width: 1.3rem;
}

footer {
  p {
    margin-bottom: 0;
  }

  img {
    border-radius: 0;
    display: inline;
  }
}

.blog-all-articles {

  .article-summary, .article-title {
    color: inherit;
    text-decoration: none;
  }
}

.blog-article-footer {
  .author-avatar {
    width: 80px;
  }

  .article-author-name {
    font-size: 1.125rem;
  }

  .article-author-bio {
    font-size: 0.875rem;
  }
}

.share {
  a {
    color: inherit;
    text-decoration: none;
  }

}

img {
  border-radius: .25em;
  display: block;
  height: auto;
  width: 100%;
}

// article images
.figure {
  //background-color: #fff;
  //padding: 5px;
  display: table;
  font-size: .75em;
  //border: 1px solid #bbb;
  //border-radius: 3px;
  //padding: 4px;
  //float: left;
  margin: 0 0 1rem 0;
  //box-shadow: 4px 4px 4px 0px rgba(128, 128, 128, 0.5);


  p.caption {
    font-size: 90%;
    margin-bottom: 0.3em;
  }

  .legend {
    caption-side: bottom;
    color: #6c757d;
    display: table-caption;
    //background: #fff;
    font-style: italic;
    padding-left: 1em;
  }
}


// article images modal
.modal {
  background-color: rgb(0, 0, 0); // Fallback color
  background-color: rgba(0, 0, 0, 0.9); // Black w/ opacity
  //z-index: 1;
  color: #696969;
  display: none; //Hidden by default
  height: 100%; // Full height
  left: 0; // Location of the box
  overflow: auto; // Enable scroll if needed
  padding-top: 100px; // Sit on top
  position: fixed; // Stay in place
  top: 0; // Location of the box
  width: 100%; // Full width

  .close {
    color: #ccc;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 15px;
    transition: 0.3s;
  }


  #caption {
    //width: 80%;
    //margin: 0 auto;
    text-align: center;
    //margin: auto;
  }

  .modal-content {
    margin: auto;
    width: 80%;
  }
}

// site search
.btb-in-input {
  overflow: hidden;

  button {
    background: white;
    border: 1px solid rgb(206, 212, 218);
    border-left: 0;
    color: grey;
  }
}


ul.tags {
  list-style-type: none;
  max-width: 50%;

  li {
    display: inline-block;
  }
}

ul.categories {
  list-style-type: none;
  max-height: 12em;
  max-width: 50%;

  li {
    display: inline-block;
  }
}


$background-color: hsl(50, 5, 97);
$black: hsl(200, 40, 10);
$white: $background-color;
$base-font-size: 1.25em;
$base-line-height: 1.4em;

blockquote {
  display: block;
  font-family: 'Sanchez', serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-inline-end: 2em;
  margin-inline-start: 2em;
  position: relative;

  p {
    font-style: italic;
    margin-bottom: 0px;
  }

  .attribution {
    color: darken($white, 15%);
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.6em;
    font-weight: 700;
    margin-right: 5em;
    text-align: right;

    //&:before {
    //  content: '\2015';
    //}
  }

  &:before {
    color: darken($white, 7%);
    content: '\201C';
    font-size: 6em;
    left: -0.15em;
    position: absolute;
    top: 0.25em;
    z-index: -1;
  }
}


//.flexy {
//  display: flex;
//  flex-direction: column;
//  flex-wrap: wrap;
//  align-content: flex-start;
//  justify-content: flex-start;
//  height: 90vh;
//}
//.nav-tabs {
//  display: flex;
//
//  li {
//    display: flex;
//    flex: 1;
//
//    a {
//      flex: 1;
//    }
//  }
//}
