{% extends 'base.html' %}
{% block meta %}
    <link rel="canonical" href="{{ SITEURL }}/{{ page.url }}">
    <meta name="author" content="{{ AUTHOR }}"/>
    <meta name="description" content="{{ SITEDESCRIPTION }}"/>
    {% include "includes/page_og.html" %}
{% endblock %}
{% block main_content %}
    <article class="blog-article d-flex flex-column">
        <h1>{{ page.title }}</h1>
        <div class="font-italic font-weight-lighter">{{ page.summary }}</div>
        {{ page.content }}
    </article>
{% endblock %}
