<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    {% if page in hidden_pages %}
        <meta name="robots" content="noindex, nofollow"/>
    {% else %}
        <meta name="robots" content="{{ ROBOTS }}"/>
    {% endif %}

    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    {#https://www.link-assistant.com/website-auditor/#}

    {#    <meta http-equiv="X-UA-Compatible" content="IE=Edge">#}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {#    SEO stuff  #}
    {% block meta %}
        <link rel="canonical" href="{{ SITEURL }}">
    {% endblock %}
    {#    SEO END#}

    {% for item in STATIC_CDN.CSS %}
        <link rel="stylesheet" {{ item }} />
    {% endfor %}

    {% assets filters="cssmin",
            output="css/style.min.css",
            "css/style.css",
            "pygments/"~PYGMENTS_STYLE|default('monokai')~".css",
            "tipuesearch/tipuesearch.css" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}

    {% if FEED_ALL_ATOM %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} ATOM Feed"/>
    {% endif %}

    {% if FEED_ALL_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
              title="{{ SITENAME }} RSS Feed"/>
    {% endif %}

    {% if tag and TAG_FEED_ATOM %}
        <link href="{{ SITEURL }}/{{ TAG_FEED_ATOM.format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} {{ tag }} ATOM Feed"/>
    {% endif %}

    {% if category and CATEGORY_FEED_ATOM %}
        <link href="{{ SITEURL }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}" type="application/atom+xml"
              rel="alternate"
              title="{{ SITENAME }} {{ category }} ATOM Feed"/>
    {% endif %}

</head>
<body>
{##### SITE NAVIGATION #####}
{% include 'includes/site_navigation.html' %}

{##### HEAD #####}
{% include 'includes/site_jumbotron.html' %}

{% block blog_nav %} {% endblock blog_nav %}
{##### MAIN CONTENT #######}
<div class="content d-flex flex-grow-1">
    <main class="container" role="main">

        <div class="row">
            {% block main_content %}

            {% endblock main_content %}
        </div>

    </main>
</div>

{###### FOOTER ######}
{% include 'includes/footer.html' %}
{###### CDN JS #######}
{% for item in STATIC_CDN.JS %}
    <script {{ item }} ></script>
{% endfor %}

{% assets filters="terser",
        output="js/index.min.js",
        "js/index.js" %}
    <script type="text/javascript" src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}


{% block scripts %}{% endblock %}

</body>
</html>