{% extends "blog_base.html" %}
{% block blog_main_content %}
    <h5>Categories</h5>
    <ul class="categories fa-ul d-flex flex-column flex-wrap">

        {% for category, articles in categories|sort %}
            <li class="">
                <a class="" href="{{ SITEURL }}/{{ category.url }}" id="{{ category.name }}Id">
                    {{ category.name }}<sub>{{ articles|count }}</sub>
                </a>
            </li>
        {% endfor %}
    </ul>
    <h5>Tags</h5>
    <ul class="tags">

        {%- for tag, articles in (tags|sort) %}
            <li style="font-size: {{ articles|count|count_to_font_size }};">
                <a class="badge" href="{{ SITEURL }}/{{ tag.url }}">
                    <i class="fas fa-hashtag"></i>{{ tag }}<sub>{{ articles|count }}</sub>
                </a>
            </li>
        {% endfor %}
        {#                    {% for category in categories %}#}
        {##}
        {#                        <li class="">#}
        {#                            <a class="" href="{{ SITEURL }}/{{ category[0].url }}" id="{{ category[0].name }}Id"#}
        {#                            >{{ category[0].name }}</a>#}
        {#                        </li>#}
        {#                    {% endfor %}#}
    </ul>
{% endblock %}